In [2]:
from pyspark import SparkContext
sc =SparkContext()

In [3]:
sqlC

NameError: name 'sqlC' is not defined

In [5]:
from pyspark.sql import HiveContext
hive_context = HiveContext(sc)
bank = hive_context.table("customer")
bank.show()

+---+---------------+------------+-----+
| id|           name|        city|state|
+---+---------------+------------+-----+
|100|     John Smith|      Austin|   TX|
|200|    Joe Johnson|      Dallas|   TX|
|300|      Bob Jones|     Houston|   TX|
|400|     Andy Davis| San Antonio|   TX|
|500| James Williams|      Austin|   TX|
+---+---------------+------------+-----+

In [6]:
bank.filter(bank.id> 100).show()

+---+---------------+------------+-----+
| id|           name|        city|state|
+---+---------------+------------+-----+
|200|    Joe Johnson|      Dallas|   TX|
|300|      Bob Jones|     Houston|   TX|
|400|     Andy Davis| San Antonio|   TX|
|500| James Williams|      Austin|   TX|
+---+---------------+------------+-----+

In [6]:
bank.drop(bank.name).show()

+---+------------+-----+
| id|        city|state|
+---+------------+-----+
|100|      Austin|   TX|
|200|      Dallas|   TX|
|300|     Houston|   TX|
|400| San Antonio|   TX|
|500|      Austin|   TX|
+---+------------+-----+

In [8]:
bank.sort(bank.city).show()

+---+---------------+------------+-----+
| id|           name|        city|state|
+---+---------------+------------+-----+
|100|     John Smith|      Austin|   TX|
|500| James Williams|      Austin|   TX|
|200|    Joe Johnson|      Dallas|   TX|
|300|      Bob Jones|     Houston|   TX|
|400|     Andy Davis| San Antonio|   TX|
+---+---------------+------------+-----+

In [10]:
bank.describe().show()

+-------+------------------+
|summary|                id|
+-------+------------------+
|  count|                 5|
|   mean|             300.0|
| stddev|158.11388300841898|
|    min|               100|
|    max|               500|
+-------+------------------+

In [11]:
bank.dtypes

[('id', 'int'), ('name', 'string'), ('city', 'string'), ('state', 'string')]

In [12]:
bank.schema

StructType(List(StructField(id,IntegerType,true),StructField(name,StringType,true),StructField(city,StringType,true),StructField(state,StringType,true)))

In [14]:
bank.columns

['id', 'name', 'city', 'state']

In [28]:
bank.show()

+---+---------------+------------+-----+
| id|           name|        city|state|
+---+---------------+------------+-----+
|100|     John Smith|      Austin|   TX|
|200|    Joe Johnson|      Dallas|   TX|
|300|      Bob Jones|     Houston|   TX|
|400|     Andy Davis| San Antonio|   TX|
|500| James Williams|      Austin|   TX|
+---+---------------+------------+-----+

In [41]:
from pyspark.sql.functions import *
bank.select(instr(bank.name, ' ').alias('s')).collect()

[Row(s=1), Row(s=1), Row(s=1), Row(s=1), Row(s=1)]

In [42]:
bank.withColumn("short-name", bank.name.substr(0, 4)).show()

+---+---------------+------------+-----+----------+
| id|           name|        city|state|short-name|
+---+---------------+------------+-----+----------+
|100|     John Smith|      Austin|   TX|       Joh|
|200|    Joe Johnson|      Dallas|   TX|       Joe|
|300|      Bob Jones|     Houston|   TX|       Bob|
|400|     Andy Davis| San Antonio|   TX|       And|
|500| James Williams|      Austin|   TX|       Jam|
+---+---------------+------------+-----+----------+

In [38]:
bank.select(bank.name).distinct().show()

+---------------+
|           name|
+---------------+
|     Andy Davis|
|    Joe Johnson|
|     John Smith|
|      Bob Jones|
| James Williams|
+---------------+

In [4]:
bank.withColumn("short-name", bank.name.substr(0, 2)).show()

NameError: name 'bank' is not defined